* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    /* font-family: 'poppins', sans-serif; */

}

body {
    background: #EFEFEF;
}

/* Navigation Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 100;
    padding: 5px 5%;
    background: #1876F2;
    /* background: #FFFFFF; */
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    /* color: black */
}

/* Left Navigation Bar */
.logo {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.search-box {
    background: #EFEFEF;
    width: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.search-box img {
    width: 16px;
    padding: 4px;
}

.search-box input {
    width: 100%;
    background: transparent;
    border: 0;
    /* padding: 10px; */
    /* outline: none; */
}

/* Right Navigation Bar */
.nav-right ul li {
    display: inline-block;
    list-style: none;
    /* color: rgb(0, 0, 0); */
}

.nav-right ul li img{
    /* margin: 28px; */
    margin: 0 15px;
    color: rgb(0, 0, 0);
    width: 28px;
    height: 28px;
    /* align-items: right; */
}

.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
}

.nav-user-icon {
    margin-left: 30px;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #FFF;
    border-radius: 50%;
    background-color: #41DB51;
    position: absolute;
    top: 0;
    right: 0;
}

/* Main Content */
.container {
    display: flex;
    justify-content: space-between;
    padding: 12px 5%;
} 

/* Left Sidebar */
.left-sidebar {
    /* background: #CBDFFA; */
    flex-basis: 25%;
    position: sticky;
    top: 80px;
    align-self: flex-start;
}
.important-links {
    border-bottom: 1px solid #CCC;
}

.important-links a, .shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    color: #626262;
    width: fit-content;
}

.important-links a img {
    width: 24px;
    margin-right: 16px;
}

.important-links a:last-child {
    color: #1876F2;
}

.shortcut-links p {
    color: #626262;
    font-weight: 500;
    margin: 24px 0;

}

.shortcut-links a img {
    width: 40px;
    margin-right: 16px;
    border-radius: 4px;
}

/* Middle */
.main-content {
    background: #4c7bb9;
    flex-basis: 48%;
    position: sticky;
    top: 80px;
    align-self: flex-start;
}

/* Right Sidebar */
.right-sidebar {
    /* background: #CBDFFA; */
    flex-basis: 25%;
    position: sticky;
    top: 80px;
    align-self: flex-start;
}