* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    /* font-family: 'poppins', sans-serif; */
    box-sizing: border-box;
}

:root {
    --primary-text-black: black;
    --secondary-text-grey: #626262;
    --third-text-grey: #9A9A9A;
    --facebook-blue: #1876F2;
    --online-green: #41DB51;
    --white: #FFF;
    --background-light-grey: #EFEFEF;
    --border-bottom-grey: #CCC;

    --body-color: #efefef;
    --nav-color: #1876F2;
    --bg-color: #FFF;
}

.dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}

body {
    background: var(--body-color);
    transition: background 03.s;
    /* background: var(--background-light-grey); */
}

/* Navigation Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 100;
    padding: 5px 5%;
    background: var(--nav-color);
    /* background: #FFFFFF; */
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.settings-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    /* height: 355px; */
    background: var(--bg-color);
    box-shadow: 0 0 10px rbga(0, 0, 0, 0.4);
    border-radius: 8px;
    top: 120%;
    right: 5%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}

.settings-menu-height {
    max-height: 450px;
}

.settings-menu-inner {
        padding: 0 12px 12px 12px;
}

.settings-menu-user-profile {
    display: flex;
    align-items: center;
    margin: 12px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--border-bottom-grey);
}

.settings-menu-user-profile img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.settings-menu-user-profile i {
    width: 80px;
}

.settings-menu-user-profile p {
    font-size: 16px;
    font-weight: 430;
    color: var(--primary-text-black);
}

.settings-menu-user-profile a {
    font-size: 12px;
    color: var(--facebook-blue);
    text-decoration: none;
}

/* Dark Mode */
#dark-btn {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    background: var(--body-color);
    width: 48px;
    /* height: 24px; */
    border-radius: 16px;
    padding: 2px 3px;
    cursor: pointer;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: var(--bg-color);
    border-radius: 50%;
}

#dark-btn.dark-btn-on {
    padding-left: 24px;
    background: var(--secondary-text-grey);
    /* background: #0a0a0a; */
}

.settings-menu-prop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 0 4px;
    padding-bottom: 12px;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.settings-links .settings-icon {
    width: 38px;
    margin-right: 12px;
    border-radius: 50%;
}

.settings-menu-prop img {
    width: 20px;
    /* height: 20px; */
    border-radius: 50%;
    margin-right: 8px;
    /* background-color: var(--border-bottom-grey); */
}

.settings-menu-prop a {
    font-size: 14px;
    font-weight: 420;
    color: var(--primary-text-black);
    text-decoration: none;
    /* margin: 0; */
}

.settings-menu-prop-left {
    display: flex;
    align-items: center;
}

.arrow {
    background: none;
    margin: auto;
    width: 16px;
    height: 16px;
    /* color: var(--third-text-grey); */
}

.settings-menu-footer {
    color: var(--third-text-grey);
    font-size: 12px;
    /* margin: 8px 0 0 4px; */
    padding: 0 12px 12px 16px;
}

.settings-menu-footer a {
    color: #9A9A9A;
    text-decoration: none;
}

/* Left Navigation Bar | facebook-icon • search-bar */
.logo {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.search-box {
    background:var(--background-light-grey);
    width: 224px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.search-box img {
    width: 20px;
    padding: 4px;
}

.search-box input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 4px;
}

/* Right Navigation Bar | icons (watch, messages, notifications) • profile-img */
.nav-right ul li {
    display: inline-block;
    list-style: none;
}

.nav-right ul li img{
    margin: 0 15px;
    width: 28px;
    height: 28px;
}

.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
}

.nav-user-icon {
    margin-left: 30px;
    cursor: pointer;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid var(--white);
    border-radius: 50%;
    background-color: var(--online-green);
    position: absolute;
    top: 0;
    right: 0;
}

/* Container | left-sidebar • main-content • right-sidebar */
.container {
    display: flex;
    justify-content: space-between;
    padding: 12px 5%;
}

/* Left Sidebar | important-links (news, friends, groups, marketplace, watch) • shortcut-links */
.left-sidebar {
    /* background: #CBDFFA; */
    flex-basis: 25%;
    position: sticky;
    /* top: 80px; */
    align-self: flex-start;
    padding: 24px 8px;
}

.important-links {
    border-bottom: 1px solid var(--border-bottom-grey);
}

.important-links a, .shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    color: var(--secondary-text-grey);;
    width: fit-content;
}

.important-links a img {
    width: 24px;
    margin-right: 16px;
}

.important-links a:last-child {
    color: var(--facebook-blue);
}

.shortcut-links p {
    color: var(--secondary-text-grey);
    font-weight: 500;
    margin: 24px 0;
}

.shortcut-links a img {
    width: 40px;
    margin-right: 16px;
    border-radius: 4px;
}

/* Middle | main-content */
.main-content {
    /* background: #4c7bb9; */
    flex-basis: 48%;
    position: sticky;
    top: 78px;
    align-self: flex-start;
    margin: 0 24px 0 24px;
}

/* Story Section */
.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    /* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-1.png); */
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

.story img {
    position: absolute;
    width: 48px;
    top: 12px;
    left: 12px;
    border-radius: 5px solid var(--secondary-text-grey);
    border: var(--facebook-blue) solid 4px;
    border-radius: 50%;
}

.story p {
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: left;
    color: #FFF;
    font-size: 12px;
    margin-left: 12px;
}

/* Individual Stories (5) */
.story-my-story {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/profile-pages/kris/kris-profile-pic.png);
}

.story-my-story .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 23%;
    background-color: var(--white); 
    /* Set the background color to white */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.story-my-story p {
    text-align: center;
    margin: 0;
    color: black
}

.story.story-my-story img {
    top: unset;
    left: 25%;
    bottom: 32px;
    transform: translateX(50%);
    box-sizing: border-box;
    border: transparent;
    /* border-radius: 45%; */
    width: 32px;
}

.story-1 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/icons/home/middle/stories/status-2.png);
}

.story-2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/icons/home/middle/stories/status-3.png);
}

.story-3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/icons/home/middle/stories/status-4.png);
}

.story-4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/icons/home/middle/stories/status-5.png);
}

/* Post Container */
.create-post-input-container {
    width: 100%;
    background: var(--bg-color);
    /* background: var(--white); */
    border-radius: 12px;
    padding: 12px;
    /* columns: #626262; */
}

.user-post {
    display: flex;
    align-items: center;
    padding: 0 4px 12px 4px;
    border-bottom: 1px solid var(--border-bottom-grey);
}

.user-post img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.post-box {
    background: var(--background-light-grey);
    width: 95%;
    border-radius: 20px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.post-box input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 4px;
    font-size: 16px;
}

.add-post-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 0 8px 0;
}
.add-post-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-text-grey);
    font-size: 13px;
}

.add-post-links img {
    width: 24px;
    height: 20px;
    margin-right: 8px;
}

#feeling {
    height: 22px;
}

/* Posts Feed */
.posts-feed-container {
    width: 100%;
    background: var(--bg-color);
    /* background: var(--white); */
    color: var(--secondary-text-grey);
    margin: 12px 0;
    border-radius: 12px;
}

/* Top Post 1/3 */
.top-post-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
    padding: 12px;
}

.top-post-container a {
    color: var(--secondary-text-grey);
}

.top-post-user-profile {
    display: flex;
    align-items: center;
}

.top-post-user-profile img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.top-post-user-profile i {
    width: 80px;
}

.top-post-user-profile p {
    font-size: 14px;
    font-weight: 420;
    color: var(--primary-text-black);
}

.top-post-user-profile span {
    font-size: 11px;
    color: rgba(98, 98, 98, 0.75);
}

/* Middle Post 2/3 */
.middle-post-text {
    color: var(--primary-text-black);
    /* color: #9A9A9A; */
    margin-bottom: 12px;
    font-size: 14px;
    padding: 0 12px 0 12px;
}

.middle-post-text span {
    color: var(--secondary-text-grey);
    font-weight: 500;
}

.middle-post-text a {
    color: var(--facebook-blue);
    text-decoration: none;
}

.middle-post-img {
    width: 100%;
}

/* Bottom Post 3/3 - 3 rows */
/* Bottom Post - Row 1 */
.bottom-post-row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 12px;
    border-bottom: 1px solid var(--border-bottom-grey);
    padding: 0 0 12px 0;
}

.bp-row-1-left {
    display: flex;
    align-items: center;
}

.bp-row-1-left p {
    margin-left: 8px;
    font-size: 14px;
    color: var(--secondary-text-grey);
}

.bottom-post-row-1 img {
    width: 16px;
}

#heart-right {
    margin-left: 12px;
}

#like-left {
    margin-left: -28px;
}

.bottom-post-row-1 p {
    margin-left: 16px;
}

.bp-row-1-right {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--secondary-text-grey);
    margin-right: 4px;
}

/* Bottom Post - Row 2 */
.bottom-post-row-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 8px 12px;
    border-bottom: 1px solid var(--border-bottom-grey);
    padding: 0 0 12px 0;
}

.bp-row-2-img-container {
    display: flex;
    align-items: center;
}

.bottom-post-row-2 img {
    width: 20px;
    color: var(--secondary-text-grey);
    margin-right: 8px;
}

/* Bottom Post - Row 3 */
.bottom-post-row-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 12px 0 12px;
    padding: 0 0 12px 0;
}

.bp-row-3-profile-icon i {
    margin-left: -12px;
    width: 2px;
    height: 2px;
}

.comment-on-post-box {
    background: var(--background-light-grey);
    width: 95%;
    border-radius: 20px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
}

.comment-box-left input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 4px;
    font-size: 16px;
}

.comment-box-right img {
    width: 15px;
    color: var(--secondary-text-grey);
    margin-right: 4px;
}

.bp-row-3-profile-icon {
    display: flex;
    align-items: center;
}

.bp-row-3-profile-icon img {
    width: 28px;
    border-radius: 50%;
    margin-right: 8px;
}

.load-more-button {
    display: block;
    margin: auto;
    margin-top: 16px;
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid var(--third-text-grey);
    color: var(--secondary-text-grey);
    background: transparent;
    border-radius: 4px;
    
}

/* Right Sidebar | events • advertisement • friends (online list) */
.right-sidebar {
    /* 2023 Facebook doesn't have white box  */
    /* background: #CBDFFA; */
    background: var(--bg-color);
    flex-basis: 25%;
    position: sticky;
    align-self: flex-start;
    padding: 12px;
    /* top: 80px; */
    /* color: var(--bg-color); */
    color: var(--secondary-text-grey);
    border-radius: 12px;
}

.right-sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.right-sidebar-title a {
    text-decoration: none;
    color: var(--facebook-blue);
    font-size: 12px;
}

/* Events */
.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 24px;
}

.left-event {
    border-radius: 12px;
    height: 64px;
    width: 64px;
    margin-right: 16px;
    padding-top: 12px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--facebook-blue);
    color: var(--white);
    font-size: 12px;
    padding: 4px 0;
}

.event p {
    font-size: 12px;
}

.event a {
    font-size: 12px;
    text-decoration: none;
    color: var(--facebook-blue)
}

.right-sidebar-ads {
    width: 100%;
    margin-bottom: 24px;
    border-radius: 8px;
}

.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img {
    width: 40px;
    border-radius: 50%;
}

.online-list .online {
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.online-list .online::after {
    top: unset;
    bottom: 4px;
}

.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    text-align: left;
    color: var(--third-text-grey);
    padding: 12px 12px 24px 64px;
    font-size: 12px;
}

.footer a {
    color: #9A9A9A;
    text-decoration: none;
}

/* Profile Page */
.profile-container {
    padding: 20px 15%;
    color: #626262;
}

.cover-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.profile-details {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pd-row {
    display: flex;
    align-items: flex-start;
}

.pd-img {
    width: 100px;
    margin-right: 24px;
    border-radius: 8px;
}

.pd-row div h3 {
    font-size: 28px;
    font-weight: 600;
}

.pd-row div p {
    font-size: 14px;
}

.pd-row div img {
    width: 24px;
    border-radius: 50%;
    margin-top: 12px;
}

.pd-right button {
    background: #1876F2;
    border: 0;
    outline: 0;
    padding: 8px 12px;
    display: inline-flex;
    align-items: center;
    color: #FFF;
    border-radius: 4px;
    margin-left: 12px;
    cursor: pointer;
}

.pd-right button img {
    height: 16px;
    margin-right: 12px;
    color: #FFF;
}

.pd-right button:first-child {
    background-color: #EFEFEF;
    color: #000;
}

.pd-right {
    text-align: right;
}

.pd-right a {
    background: #E4E6EB;
    border-radius: 4px;
    padding: 12px;
    display: inline-flex;
    margin-top: 32px;
}

.pd-right a img {
    width: 20px;
}

/* Profile Footer Test */
.profile-footer {
    position: sticky;
    bottom: 0;
    left: 0;
    text-align: left;
    color: var(--third-text-grey);
    padding: 12px 12px 24px 64px;
    font-size: 12px;
    width: 6000px;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* width: 18%; */
    /* flex-basis: 25%; */
}

.profile-footer a {
    color: #9A9A9A;
    text-decoration: none;
}

.profile-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 24px;
}

.info-column {
    flex-basis: 33%;
}

.post-column {
    flex-basis: 65%;
}

.profile-intro {
    background: var(--bg-color);
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
}

.profile-intro h3 {
    font-weight: 560;
}

.intro-text {
    text-align: left;
    /* justify-content: left; */
    margin: 12px 0;
}

.intro-text img {
    width: 16px;
    margin-bottom: -4px;
}

.profile-intro ul li {
    list-style: none;
    font-size: 14px;
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.profile-intro ul li img {
    width: 24px;
    margin-right: 12px;
}

.profile-intro hr {
    border: 0;
    height: 1px;
    background: #CCC;
    margin: 24px 0;
}

.title-box {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.title-box a {
    text-decoration: none;
    color: var(--facebook-blue);
    font-size: 16px;
}

.profile-intro h2 {
    font-size: 16px;
    font-weight: 120;
    margin-top: 4px;
}

.photo-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 12px;
    margin-top: 12px;
    border-radius: 8px;
}

.photo-box div img {
    width: 100%;
}

.friends-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 12px;
    margin-top: 12px;
}

.friends-box div img {
    width: 100%;
    cursor: pointer;
    padding-bottom: 16px;
}

.friends-box img {
    border-radius: 8px;
    /* border-radius: 8px 8px 8px 8px; */
}

.friends-box div {
    position: relative;
}

.friends-box p {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    font-weight: 540;
}