* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    /* font-family: 'poppins', sans-serif; */
    box-sizing: border-box;

}

body {
    background: #EFEFEF;
}

/* Navigation Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 100;
    padding: 5px 5%;
    background: #1876F2;
    /* background: #FFFFFF; */
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    /* color: black */
}

/* Left Navigation Bar | facebook-icon • search-bar */
.logo {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.search-box {
    background: #EFEFEF;
    width: 224px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.search-box img {
    width: 20px;
    padding: 4px;
}

.search-box input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 4px;
    /* outline: none; */
}

/* Right Navigation Bar | icons (watch, messages, notifications) • profile-img */
.nav-right ul li {
    display: inline-block;
    list-style: none;
    /* color: rgb(0, 0, 0); */
}

.nav-right ul li img{
    /* margin: 28px; */
    margin: 0 15px;
    color: rgb(0, 0, 0);
    width: 28px;
    height: 28px;
    /* align-items: right; */
}

.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
}

.nav-user-icon {
    margin-left: 30px;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #FFF;
    border-radius: 50%;
    background-color: #41DB51;
    position: absolute;
    top: 0;
    right: 0;
}

/* Container | left-sidebar • main-content • right-sidebar */
.container {
    display: flex;
    justify-content: space-between;
    padding: 12px 5%;
}

/* Left Sidebar | important-links (news, friends, groups, marketplace, watch) • shortcut-links */
.left-sidebar {
    /* background: #CBDFFA; */
    flex-basis: 25%;
    position: sticky;
    /* top: 80px; */
    align-self: flex-start;
    padding: 24px 8px;
}

.important-links {
    border-bottom: 1px solid #CCC;
}

.important-links a, .shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    color: #626262;
    width: fit-content;
}

.important-links a img {
    width: 24px;
    margin-right: 16px;
}

.important-links a:last-child {
    color: #1876F2;
}

.shortcut-links p {
    color: #626262;
    font-weight: 500;
    margin: 24px 0;
}

.shortcut-links a img {
    width: 40px;
    margin-right: 16px;
    border-radius: 4px;
}

/* Middle | main-content */
.main-content {
    /* background: #4c7bb9; */
    flex-basis: 48%;
    position: sticky;
    top: 78px;
    align-self: flex-start;
    margin: 0 24px 0 24px;
}

/* Story Section */
.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    /* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-1.png); */
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

.story img {
    position: absolute;
    width: 48px;
    border-radius: 50%;
    top: 12px;
    left: 12px;
    border-radius: 5px solid #626262;
    border: #1876F2 solid 4px;
}

.story p {
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: left;
    color: #FFF;
    font-size: 12px;
    margin-left: 12px;
}

/* Individual Stories (5) */
.story-my-story {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/profile-pic.png);
}

.story-my-story .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 23%;
    background-color: white; /* Set the background color to white */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.story-my-story p {
    text-align: center;
    margin: 0;
    color: black
}

.story.story-my-story img {
    top: unset;
    left: 25%;
    bottom: 32px;
    transform: translateX(50%);
    box-sizing: border-box;
    border: #FFF solid 2.5px;
    width: 32px;
}

.story-1 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-2.png);
}

.story-2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-3.png);
}

.story-3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-4.png);
}

.story-4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-5.png);
}

/* Post Container */
.create-post-input-container {
    width: 100%;
    background: #FFF;
    border-radius: 12px;
    padding: 12px;
    /* columns: #626262; */
}

.user-post {
    display: flex;
    align-items: center;
    padding: 0 4px 12px 4px;
    border-bottom: 1px solid #CCC
}

.user-post img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.post-box {
    background: #EFEFEF;
    width: 95%;
    border-radius: 20px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.post-box input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 4px;
    font-size: 16px;
    /* outline: none; */
}

.add-post-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 0 8px 0;
}
.add-post-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #626262;
    font-size: 13px;
}

.add-post-links img {
    width: 24px;
    height: 20px;
    margin-right: 8px;
}

#feeling {
    height: 22px;
}

/* Posts Feed */
.posts-feed-container {
    width: 100%;
    background: #FFF;
    color: #626262;
    margin: 12px 0;
    /* padding: 12px; */
    border-radius: 12px;
}

/* Top Post 1/3 */
.top-post-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
    padding: 12px;
}

.top-post-container a {
    color: #626262;
}

.top-post-user-profile {
    display: flex;
    align-items: center;
}

.top-post-user-profile img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.top-post-user-profile i {
    width: 80px;
}

.top-post-user-profile-feed p {
    /* margin-bottom: -2px; */
    font-size: 13px;
    font-weight: 550;
    color: black;
}

.top-post-user-profile span {
    font-size: 11px;
    color: rgba(98, 98, 98, 0.75);
}

/* Middle Post 2/3 */
.middle-post-text {
    color: black;
    /* color: #9A9A9A; */
    margin-bottom: 12px;
    font-size: 14px;
    padding: 0 12px 0 12px;
}

.middle-post-text span {
    color: #626262;
    font-weight: 500;
}

.middle-post-text a {
    color: #1876F2;
    text-decoration: none;
}

.middle-post-img {
    width: 100%;
}

/* Lower Post 3/3 - 3 rows */
/* .bottom-post-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.bottom-post-row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 12px;
    border-bottom: 1px solid #CCC;
    padding: 0 0 12px 0;
    /* color: #626262; */
}

.bp-row-1-left {
    display: flex;
    align-items: center;
}

.bp-row-1-left p {
    margin-left: 8px;
    font-size: 14px;
    color: #626262;
}

.bottom-post-row-1 img {
    width: 16px;
}

#heart-right {
    margin-left: 12px;
}

#like-left {
    margin-left: -28px;
}

.bottom-post-row-1 p {
    margin-left: 16px;
}

.bp-row-1-right {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #626262;
    margin-right: 4px;
}

/* .activity-icons div img{
    width: 16px;
    margin-right: 8px;
}

.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 36px;
} */

.bp-row-3-profile-icon {
    display: flex;
    align-items: center;
}

.bp-row-3-profile-icon img {
    width: 28px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Right Sidebar | events • advertisement • friends (online list) */
.right-sidebar {
    /* 2023 Facebook doesn't have white box  */
    /* background: #CBDFFA; */
    /* background: #FFF; */
    flex-basis: 25%;
    position: sticky;
    /* top: 80px; */
    align-self: flex-start;
    padding: 12px;
    /* padding: 24px; */
    color: #626262;
    border-radius: 12px;
}

.right-sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.right-sidebar-title a {
    text-decoration: none;
    color: #1876F2;
    font-size: 12px;
}

/* Events */
.event {
    display: flex;
    font-size: 16px;
    margin-bottom: 24px;
}

.left-event {
    border-radius: 12px;
    height: 64px;
    width: 64px;
    margin-right: 16px;
    padding-top: 12px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1876F2;
    color: #FFF;
    font-size: 12px;
    padding: 4px 0;
}

.event p {
    font-size: 12px;
}

.event a {
    font-size: 12px;
    text-decoration: none;
    color: #1876F2
}

.right-sidebar-ads {
    width: 100%;
    margin-bottom: 24px;
    border-radius: 8px;
}

.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img {
    width: 40px;
    border-radius: 50%;
}

.online-list .online {
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.online-list .online::after {
    top: unset;
    bottom: 4px;
}
